.hiddenTodo {
  display: none;
}

.shownTodo {
  display: flex;
  justify-content: space-between;
  margin: 0 85px;
  border-bottom: 1px solid #E5E5E5;
  padding: 20px;
}

.addedTask {
  display: flex;
  align-items: center;
}

.completed-checkbox {
  accent-color: #008594;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.completed {
  font-size: 18px;
  line-height: 32px;
  color: #ACACAC;
  margin-left: 35px;
}

.not-completed {
  font-size: 18px;
  line-height: 32px;
  margin-left: 35px;
  color: #666666;
}

@media screen and (max-width: 376px){
  .shownTodo {
      margin: 0 20px;
      padding: 10px;
  }
  .completed {
      font-size: 16px;
  }
  .not-completed {
      font-size: 16px;
  }
}
  